<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BlogVerse</title>
  <link rel="shortcut icon" href="/images/favicon.jpg">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            customRed: "rgb(232, 95, 131)",
            customPink: "rgb(237, 119, 137)",
            customOrange: "rgb(245, 142, 110)",
          },
        },
      },
    };
  </script>

</head>
