<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="shortcut icon" href="/images/favicon.jpg">
    <title>BlogVerse</title>
</head>

<body>
    <div class="main">
        <div class="loader">
            <h2>Your  </h2>
            <h2> Stories</h2>
            <h2>Awaits ... </h2>
        </div>
        <div class="page1" id="page1">
            <div class="over"></div>
            <div class="page1_cont">
                <div class="header" id="header" >
                    <div class="social">
                        <a href=""><img src="/images/b_logo.png" alt="logo"></a>
                        <a href=""><img src="/images/b_logo2.png" alt="logo"></a>
                        <a href=""><img src="/images/b_logo3.png" alt="logo"></a>
                    </div>
                    <h1>฿logVerse.</h1>
                    <div class="sidehead flex gap-2">
                        <a href="/login"><input type="button" value="Sign In"
                                class=""></a>
                        <a href="/register"><input type="button" value="Sign Up"
                                class="text-white border-2 rounded-2xl px-2 py-1 w-20 text-lg hover:text-blue-500"></a>
                    </div>
                </div>
                <div class="nav">
                    <ul>
                        <li><a href="#home">Home</a></li>
                        <li class="dropdown">
                            <a href="" class="dropbtn">Blogs</a>
                            <div class="dropdown-content">
                              <a href="#">Link 1</a>
                              <a href="#">Link 2</a>
                              <a href="#">Link 3</a>
                            </div>
                        <li class="dropdown">
                          <a href="" class="dropbtn">Categories</a>
                          <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                          </div>
                        </li>
                        <li><a href="">Styles</a></li>
                        <li><a href="/aboutus">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                      </ul>
                </div>
                <div class="content">
                    <div class="cont1">
                        <div class="cont1_over">
                            <h4><a href="">Entertainment</a></h4>
                            <h1>
                                <a href="">What Your Music Preference <br> Says About You and Your <br> Personality.</a>
                            </h1>
                            <h3><img src="images/user-03.jpg.webp" alt="img">
                                <a href="">John Doe</a> December 21,2023
                            </h3>
                        </div>
                    </div>
                    <div class="cont2">
                        <div class="watch">
                            <div class="overlay"></div>
                            <p><a href="">Technology</a></p>
                            <h2><a href="">The Pomodoro Technique Really Works.</a></h2>
                            <h4><a href="">John Doe</a> November 21,2023</h4>
                        </div>
                        <div class="car">
                            <p><a href="">Lifestyle</a></p>
                            <h2><a href="">Throwback To The Good Old Days.</a></h2>
                            <h4><a href="">John Doe</a> December 11,2023</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page2">
            <div class="page2_cont">
            <div class="c1">
                    <div class="blogs">
                        <div class="blogimg"><img src="images/morning.jpg" alt="img"></div>
                        <div class="blogcont">
                            <h5>Dec 25,2023</h5>
                        <h1><a href="">Magic of Morning Routines.</a></h1>
                        <p>Mornings hold a unique power to shape our days. In this blog, we explore the transformative impact of establishing a morning routine. From embracing mindfulness practices to setting positive intentions, learn how small changes can lead to significant improvements in overall well-being</p>
                        
                        </div>
                    </div>
                    <div class="blogs">
                        <div class="blogimg"><img src="images/guitarman-400.jpg.webp" alt="img"></div>
                        <div class="blogcont">
                            <h5>Dec 21,2023</h5>
                        <h1><a href="">What Your Music Preference Says About You and Your Personality</a></h1>
                        <p>Music, the universal language that transcends boundaries, not only entertains but also serves as a mirror reflecting our inner selves. Have you ever wondered what your music preferences reveal about your personality?</p>
                        </div>
                    </div>
                    <div class="blogs">
                        <div class="blogimg"><img src="images/sydney-400.jpg.webp" alt="img"></div>
                        <div class="blogcont">
                            <h5>Dec 21,2023</h5>
                        <h1><a href="">Planning Your First Trip to Sydney.</a></h1>
                        <p>Excitement bubbles as you plan your maiden voyage to the vibrant city of Sydney. A kaleidoscope of experiences awaits, from iconic landmarks to hidden gems. Begin by charting your course to the Sydney Opera House, an architectural marvel that graces the harbor.</p>
                        </div>
                    </div>
                </div>
                <div class="c2">
                    <div class="quotes">
                        <img src="images/quotes1.jpg" alt="img">
                    </div>
                    <div class="blogs">
                        <div class="blogimg"><img src="images/wheel-150.jpg.webp" alt="img"></div>
                        <div class="blogcont">
                            <h5>Dec 25,2023</h5>
                        <h1><a href="">Visiting Theme Parks Improves Your Health.</a></h1>
                        <p>In our fast-paced lives, finding ways to unwind and boost our well-being is crucial. One unexpected source of health benefits lies in the thrilling world of theme parks. Beyond the exhilarating rides and entertainment, these destinations offer a unique prescription for improved health.</p>
                        </div>
                    </div>
                    <div class="blogs">
                        <div class="blogimg"><img src="images/jump-400.jpg.webp" alt="img"></div>
                        <div class="blogcont">
                            <h5>Dec 25,2023</h5>
                        <h1><a href="">Crating Meaningful Family Moments.</a></h1>
                        <p>In the hustle and bustle of modern life, cultivating meaningful family moments has become essential for fostering strong bonds and creating lasting memories. Discover the art of intentional connection and the impact it can have on your family's well-being.</p>
                        </div>
                    </div>
                </div>
                <div class="c3">
                    <div class="blogs">
                        <div class="blogimg"><img src="images/tulips-400.jpg.webp" alt="img"></div>
                        <div class="blogcont">
                            <h5>Dec 25,2023</h5>
                        <h1><a href="">10 Interesting Facts About Caffeine.</a></h1>
                        <p>Caffeine, a beloved stimulant found in coffee, tea, and various beverages, has captivated our taste buds and fueled our energy for centuries. Let's delve into the world of caffeine and uncover 10 intriguing facts that go beyond the morning pick-me-up</p>
                        </div>
                    </div>
                    <div class="blogs">
                        <div class="blogimg"><img src="images/familphoto.jpg" alt="img"></div>
                        <div class="blogcont">
                            <h5>Dec 25,2023</h5>
                        <h1><a href="">Exploring the Benefits of Family Photography.</a></h1>
                        <p>In the fast-paced world we live in, capturing moments of togetherness has become more precious than ever. Family photography is more than just a snapshot; it's a powerful tool that weaves the fabric of love, nostalgia, and connection. Let's explore the myriad benefits of embracing family photography and why it's an investment in the heart.</p>
                        </div>
                    </div>
                    <div class="blogs">
                        <div class="blogimg"><img src="images/car.webp" alt="img"></div>
                        <div class="blogcont">
                            <h5>Dec 25,2023</h5>
                        <h1><a href="">Throwback TO Good Old Days.</a></h1>
                        <p>There's a special charm in revisiting the past, a delightful journey down memory lane that brings a warm smile and a flood of emotions. Join us on a nostalgic ride as we throw it back to the good old days, exploring the magic of reminiscence, cherished moments, and the timeless joy that comes with remembering.</p>
                        </div>
                    </div>
                </div>
                <div class="c4">
                    <div class="quotes">
                        <img src="images/quotes2.jpg" alt="img">
                    </div>
                    <div class="blogs">
                        <div class="blogimg"><img src="images/ai.jpg" alt="img"></div>
                        <div class="blogcont">
                            <h5>Dec 25,2023</h5>
                        <h1><a href="">A Glimpse into the World of Artificial Intelligence.</a></h1>
                        <p>The rapid advancements in technology have set the stage for a future where Artificial Intelligence (AI) stands at the forefront of innovation. In this blog, we'll embark on a journey into the promising landscape of AI, exploring its current state, potential applications, and the transformative impact.</p>
                        </div>
                    </div>
                    <div class="blogs">
                        <div class="blogimg"><img src="/images/cookies-400.jpg.webp" alt="img"></div>
                        <div class="blogcont">
                            <h5>Dec 25,2023</h5>
                        <h1><a href="">Crafting Irresistible No-Sugar Oatmeal Cookies.</a></h1>
                        <p>Craving a delightful treat without the guilt? In this blog, we'll embark on a delicious journey into the world of No-Sugar Oatmeal Cookies a wholesome and guilt-free alternative that promises to satisfy your sweet tooth while maintaining a commitment to a healthier lifestyle.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- <div class="page3">
            <div class="popular">
                <h1>Popular Posts</h1>
                <div class="posts">
                    <div class="post1">
                        <div class="post">
                            <img src="images/morning.jpg" alt="img">
                            <div class="postcont">
                                <h3>Magic of Morning Routines.</h3>
                            <p>December 25,2023</p>
                            </div>
                        </div>
                        <div class="post">
                            <img src="" alt="">
                        </div>
                        <div class="post">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="post2">
                        <div class="post">
                            <img src="images/morning.jpg" alt="img">
                            <h2>Magic of Morning Routines.</h2>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="about">

            </div>
        </div> -->
        <footer class="site-footer">
            <div class="footer-container">
                <div class="links">
                    <div class="ql">
                        <h3>Quick Links</h3>
                        <a href="#">Home</a>
                        <a href="#"> Blogs</a>
                        <a href="#">Categories</a>
                        <a href="#">Styles</a>
                        <a href="#">About</a>
                        <a href="#">Contact</a>
                    </div>
                    <div class="archives">
                        <h3>Archives</h3>
                        <a href="#">2018</a>
                        <a href="#">2019</a>
                        <a href="#">2020</a>
                        <a href="#">2021</a>
                        <a href="#">2022</a>
                        <a href="#">2023</a>
                    </div>
                    <div class="soc">
                        <h3>Social</h3>
                        <a href="#">Facebook</a>
                        <a href="#">Twitter</a>
                        <a href="#">Instagram</a>
                        <a href="#">LinkedIn</a>
                        <a href="#">Pinterest</a>
                        <a href="#">YouTube</a>
                    </div>
                </div>
    
                <div class="ab">
                    <h3>Our Newsletter</h3>
                    <p>Subscribe to our newsletter for a dose of inspiration delivered straight to your inbox. Stay updated with the latest blog posts, exclusive content, and special offers. Join our vibrant community and embark on a journey of discovery, learning, and connection. Sign up today for a richer blogging experience!</p>
                    <button>Subscribe</button>
                </div>
            </div>
            <div class="copyright">
                © 2023 @BlogVerse. <br>All Rights Reserved. Unauthorized use and/or duplication of this material without express and written permission is strictly prohibited.
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"
    integrity="sha512-EZI2cBcGPnmR89wTgVnN3602Yyi7muWo8y1B3a8WmIv1J9tYG+udH4LvmYjLiGp37yHB7FfaPBo8ly178m9g4Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/ScrollTrigger.min.js"
    integrity="sha512-OzC82YiH3UmMMs6Ydd9f2i7mS+UFL5f977iIoJ6oy07AJT+ePds9QOEtqXztSH29Nzua59fYS36knmMcv79GOg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./javascripts/script.js"></script>
</body>

</html>